/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2015, 10:33:25 PM
    Author     : Ryan
*/


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
     
}

html{
    background-image: url(../images/bats.gif);
}

img{
    float:left;
}
/*@media only screen and (max-width: 500px) {
    p {
        background-color: blue;
    }
}*/

body {
   width: 800px;  
   text-align: left;
   box-shadow: 10px 10px 5px black;
   border-style: solid;
   border-color: black;
   background-color: white;
   margin: 0 auto;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: orange;
    color: black;
    
}

header{
    border-style: solid;
    border-color: black;
    background: linear-gradient(45deg, white, orange 75%, black);
}

ul.horizontal{
margin:0;
padding:0;
}

ul.horizontal li{
background-color:black;
display:block;
float:left;
padding:0 10px;
}

h1 {
    font-size: 300%;
    text-indent: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
}

h2::first-letter { 
    font-size: 200%;
}

h2 {
    font-size:250%
}

h3 {
    font-size:150%
}

h4 {
    font-size:125%;
    text-indent: 25px;
    margin-top: 0px;
}

h5{
    font-size: 115%
}

h6{
    font-size: 105%
}

a:hover { 
    color: green;
}

nav{
    background:black   
}

nav li,
nav ul{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background:black;
}

nav ul{
    width: 100%;
}

nav li{
    position: relative;
    text-align: center;
    width:20%;
    color:white;
}

li{
    margin-bottom: .2em;
    list-style: none;
    outline: black;
}

section li{
    
}
nav a:hover{
    background-color:gray;
    color: black;
}

nav a:active{
    color:orange;
}

nav a{
    color:white;
}
footer{
    font-size: 75%;
    text-align: center;
    background: linear-gradient(45deg, black, orange 75%, white);
    clear: both;
}

section a {
    display: block;
    font-weight: bold;
    width: 120px;
    text-align: center;
    margin-right: 5px;
    border: 2px solid black;
    outline:black;
    color:black;
    text-decoration: none;
    font-size: 120%
}

div{
    column-count: 2;
    -webkit-column-span: all;
    column-span: all;
}

section{
   background-color: white;
   -webkit-column-span: all;
   column-span: all;
   float: left;
   width: 160px;
   margin:0px;
}

section a{
    display: block;
    background-color: orange;
}
article{
    background-color: white;
    -webkit-column-span: all;
    column-span: all;
    float: right;
    width: 620px;
    margin:0px;
}



